@charset "utf-8";


@media screen {

/*----------------- Reset CSS ----------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	padding: 8px 0 10px 0;
	background: #e7e6d9 url(images/background.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	color: #666663;
}

/*----------------- Styles généraux----------------------*/

p {
	line-height: 16px;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

hr {
	border-top: 1px solid #9a9a9a;
	border-bottom: 1px solid #fff;
}

.clear {
	clear: both;
}



#wrapper {
	margin: 0 auto;

}


/*----------------- Titres principaux et de rubriques ----------------------*/

h1 {
	margin: 13px 0 15px 0;
	font-family: 'Pacifico', cursive;
}

h1, h3, h4, h5 {
	color: #002d40;
}

h2 {
	color: #03638b;
}

h3.pacificofont {
	margin:  27px 0;
	padding: 0 0 0 40px;
	font-family: 'Pacifico', cursive;
}

h4 {
	margin: 18px 0 10px 0;
	font-size: 16px;
	font-weight: normal;
}

h5 {
	margin: 0 0 4px 0;
	font-size: 16px;
	font-weight: normal;
}


/*/////////////////////////

	Header

////////////////////////*/

header img {
	border: 5px solid #fff;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 2px 2px 3px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(119, 119, 119, 0.75);
	box-shadow: 2px 2px 3px 0px rgba(119, 119, 119, 0.75);
}


/*/////////////////////////

	Navigation

////////////////////////*/

nav ul li {
	font-size: 16px;
}

nav ul li a {
	display: block;
	color: #002d40;
}


/*/////////////////////////

	Contenu

////////////////////////*/

#bloc1 {
	margin: 0 0 1px 0;
}

#bloc2 {
	margin: 0 0 33px 0;
}

#bloc3 {
	margin: 0 0 6px 0;
}

#bloc4 {
	margin: 0 0 11px 0;
}


/*----------------- mes compétences ----------------------*/

.mes_competences {
	display: inline-block;
	margin: 0 37px 15px 0;
}

.mes_competences p {
	margin: 0 0 3px 0;
	font-weight: bold;
	font-size: 15px;
	color: #002d40;
}

.vignette {
	float: left;
	width: 32px;
}

.outil {
	margin: 0 0 0 46px;
	width: 83px;
	height: 32px;
}

.mes_competences span {
	display: block;
	height: 16px;
	text-indent: -9999px;
}

span.fleurs5 {
	background: url(images/competences/niveau.png) no-repeat 0 0;
}

span.fleurs4 {
	background: url(images/competences/niveau.png) no-repeat 0 -16px;
}

span.fleurs3 {
	background: url(images/competences/niveau.png) no-repeat 0 -32px;
}

span.fleurs2 {
	background: url(images/competences/niveau.png) no-repeat 0 -48px;
}

span.fleurs1 {
	background: url(images/competences/niveau.png) no-repeat 0 -64px;
}


/*----------------- expériences pro ----------------------*/

.job {
	margin: 0 0 25px 0;

}

span {
	font-weight: bold;
}


/*----------------- centres d'intérêts ----------------------*/

.mes_hobbies {
	display: inline-block;
	margin: 0 21px 15px 0;
	width: 210px;
}

.icone {
	float: left;
	width: 32px;
}

.interet {
	margin: 0 0 0 47px;
	width: 167px;
}


/*----------------- contact ----------------------*/

#col_gauche {
	float: left;
}

input, 
textarea {
	margin: 0 0 5px 0;
	padding: 4px 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	color: #aea9b3;
	border: 1px solid #002d40;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: inset 0px 2px 2px 0px #777;
	-webkit-box-shadow: inset 0px 2px 2px 0px #777;
	box-shadow: inset 0px 2px 2px 0px #777;
}

input[type="submit"] {
	float: right;
	margin: 30px 0 0 0;
	padding: 0 0 0 34px;
	background: #002d40 url(images/enveloppe.png) no-repeat 0 50%;
	font-family: 'Pacifico', cursive;
	width: 87px;
	color: #fff;
	
	-moz-box-shadow: inset 0px 0px 2px 0px #fff;
	-webkit-box-shadow: inset 0px 0px 2px 0px #fff;
	box-shadow: inset 0px 0px 2px 0px #fff;
}

iframe {
	margin: 11px 0 0 0;
}


}


@media screen and (min-width: 380px) {

#wrapper {
	padding: 0 10px;
	width: 360px;
}


/*----------------- Titres principaux et de rubriques ----------------------*/

h1 {
	font-size: 44px;
}

h2 {
	font-size: 18px;
	line-height: 22px;
}

h3.pacificofont {
	font-size: 22px;
}


/*/////////////////////////

	Header

////////////////////////*/

header img {
	display: block;
	margin: 0 auto 20px auto;
}

header hgroup {
	text-align: center;
}


/*/////////////////////////

	Navigation

////////////////////////*/

nav ul {
	border-top: none;
	border-bottom: none;
}

nav ul li {
	display: block;
	margin: 25px 0 25px 27px;
	padding: 0 0 0 28px; 
}


/*/////////////////////////

	Contenu

////////////////////////*/

/*----------------- expériences pro ----------------------*/

.job {
	width: 360px;
}

.logo {
	display: none;
}

.description {
	margin: 0;
	width: 360px;
}


/*----------------- contact ----------------------*/

#col_gauche {
	width: 360px;
}

input, 
textarea {
	width: 360px;
}

#col_droite {
	float: left;
	width: 360px;
}

iframe {
	border: 1px solid #888;
	width: 358px;
}


}


@media screen and (min-width: 481px) {

/*----------------- Styles généraux----------------------*/


#wrapper {
	margin: 0 auto;
	width: 700px;
}


/*----------------- Titres principaux et de rubriques ----------------------*/

h1 {
	font-size: 82px;
}

h2 {
	font-size: 24px;
}

h3.pacificofont {
	font-size: 27px;
}

h1, h2, h3, h4, h5 {
	-moz-text-shadow: 0 2px 1px #fff;
	-webkit-text-shadow: 0 2px 1px #fff;
	-o-text-shadow: 0 2px 1px #fff;
	-ms-text-shadow: 0 2px 1px #fff;
	text-shadow: 0 2px 1px #fff; 
}

h3#competences,
h3#experiences, 
h3#formations,
h3#hobbies,
h3#contact {
	background-repeat: no-repeat;
	background-position: 0 10%;
}

h3#competences {
	background-image: url(images/titres/competences.png);
}

h3#experiences {
	background-image: url(images/titres/experiences_pro.png);
}

h3#formations {
	background-image: url(images/titres/formations.png);
}

h3#hobbies {
	background-image: url(images/titres/centre_interet.png);
}

h3#contact {
	background-image: url(images/titres/contact.png);
}


/*/////////////////////////

	Header

////////////////////////*/

header img {
	float: left;
	display: inline;
	margin: 0 0 20px 0;
}

header hgroup {
	float: right;
	margin: 0 15px 0 0;
}


/*/////////////////////////

	Navigation

////////////////////////*/

nav ul {
	border-top: 1px solid #002d40;
	border-bottom: 1px solid #002d40;
}

nav ul li {
	display: inline-block;
	margin: 14px 0 14px 18px;
	padding: 0 0 0 28px; 
}

nav .first {
	margin: 0 0 0 35px;
}

nav .viadeo {
	background: url(images/social/viadeo.png) no-repeat 0 50%;
}

nav .twitter {
	background: url(images/social/twitter.png) no-repeat 0 50%;
}

nav .facebook {
	background: url(images/social/facebook.png) no-repeat 0 50%;
}

nav .linkedin {
	background: url(images/social/linkedin.png) no-repeat 0 50%;
}

nav .mail {
	background: url(images/social/mail.png) no-repeat 0 50%;
}


/*/////////////////////////

	Contenu

////////////////////////*/

/*----------------- expériences pro ----------------------*/

.job {
	width: 700px;
}

.logo {
	float: left;
	margin: 0 23px 0 0;
}

.description {
	margin: 0 0 0 130px;
	width: 570px;
}


/*----------------- contact ----------------------*/

#col_gauche {
	width: 300px;
}

input, 
textarea {
	width: 300px;
}

#col_droite {
	float: right;
	width: 372px;
}

iframe {
	border: 1px solid #888;
	width: 370px;
}


